/*
 * Defines all the IDs
 */

#id1,
#id2,
#id3 {
    height: 148px;
    width: 148px;
    border-radius: 80px;
    bottom: 5px;
    border: 1px solid transparent;
    padding: 5px;
    -webkit-border-image: url(Images/1.jpg);
}

#id1 {
    left: 400px;
    display: block;
    float: right;
    margin-right: 250px;
}

#id2 {
    display: inherit;
    margin-left: 1003px;
    margin-top: 125px;
}

#id3 {
    margin-left: 862px;
    margin-top: -140px;
    position: relative;
}
