<div class="about">
    <a onclick="fnImage()"><img src="css/Images/aboutimage.jpg"></a>
    <div id="light" class="white_content">
        <a onclick="fnClose()">&#9746</a>
        <figure>
            <img src="css/Images/aboutimage.jpg">
            <figcaption>
                This page is made using technologies like HTML CSS and JavaScript. I used various HTML and CSS3 tags to complete this page. This page makes an AJAX call to get data from the server. It is beneficial since it does not requires a page re-load. Have a look at the Exercises tab for various tasks made easier using these technologies
            </figcaption>
        </figure>
    </div>
    <div id="fade" class="black_overlay"></div>
</div>
