
    <nav id="modlist">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Categories</a>
                <ul>
                    <li><a href="#">Engineering</a></li>
                    <li><a href="#">Medicine</a></li>
                    <li><a href="#">Bpharmacy</a></li>
                    <li><a href="#">CA</a></li>
                </ul>
            </li>
            <li><a href="#">Admissions</a>
                <ul>
                    <li><a href="#">Anually</a></li>
                    <li><a href="#">Vocational</a></li>
                    <li><a href="#">Short Term</a></li>
                    <li><a href="#">Long Term</a></li>
                </ul>
            </li>
        </ul>
    </nav>

