<link rel="stylesheet" type="text/css" href="modules/alignedlist/alignedlist.css">
<div id="align">
    <ol>
        <li>item</li>
        <li>item
            <ol>
                <li>item</li>
                <li>item</li>
                <li>item
                    <ol>
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                    </ol>
                    <li> item</li>
                    <li> item</li>
                </li>
            </ol>
        </li>
        <li>item</li>
        <li>item</li>
    </ol>
</div>
